
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with by @Sandalu De Silva</p>
  </div>
</div>

<!-- Add the following scripts to enable Bootstrap functionality -->


</body>
</html>
